@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@functions {
    string currentSpace = "";

    public string popupDisplay = "";

}

<!--
    =========================================
    Import CSS style sheets
    =========================================
-->

<link href="~/css/Sudoku.css" rel="stylesheet"/>

<!--
    =========================================
    Import HTML fonts

    Lobster2
    =========================================
-->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap" rel="stylesheet">

<!--
    =========================================
    The popup is where you enter numbers

    There is a number pad and you click the number to input it
    =========================================
-->

<div id="popup" style="@Model.popupStyle">
    <form method="post" action="">
        <table id="inputTable">
            <tr>
                <td><input type="radio" value="1" class="inputButton" name="inputNumber">
                <td><input type="radio" value="2" class="inputButton" name="inputNumber">
                <td><input type="radio" value="3" class="inputButton" name="inputNumber">
            </tr>
            <tr>
                <td><input type="radio" value="4" class="inputButton" name="inputNumber">
                <td><input type="radio" value="5" class="inputButton" name="inputNumber">
                <td><input type="radio" value="6" class="inputButton" name="inputNumber">
            </tr>
            <tr>
                <td><input type="radio" value="7" class="inputButton" name="inputNumber">
                <td><input type="radio" value="8" class="inputButton" name="inputNumber">
                <td><input type="radio" value="9" class="inputButton" name="inputNumber">
            </tr>
        </table>
        <input type="submit" id="cancelButton" value="Cancel" asp-page-handler="PopupCancel" />
        <input type="submit" id="cancelButton" value="Submit" asp-page-handler="Input" />
    </form>
</div>

<!--
    =========================================
    The main board

    This is the area that shows all of the numbers
    =========================================
-->

<form method="post">
    <table id="board">
        <tr id="row1">
            <td style="@Model.get_styles(0, 0)"><input class="@Model.add_class(0, 0)" type="submit" asp-page-handler="Popup" asp-route-spacex="0" asp-route-spacey="0" value="@Model.board.get_nonet_value(0, 0)" /></td>
            <td style="@Model.get_styles(0, 1)"><input class="@Model.add_class(0, 1)" type="submit" asp-page-handler="Popup" asp-route-spacex="0" asp-route-spacey="1" value="@Model.board.get_nonet_value(0, 1)" /></td>
            <td style="@Model.get_styles(0, 2)"><input class="@Model.add_class(0, 2)" type="submit" asp-page-handler="Popup" asp-route-spacex="0" asp-route-spacey="2" value="@Model.board.get_nonet_value(0, 2)" /></td>
            <td style="@Model.get_styles(0, 3)"><input class="@Model.add_class(0, 3)" type="submit" asp-page-handler="Popup" asp-route-spacex="0" asp-route-spacey="3" value="@Model.board.get_nonet_value(0, 3)" /></td>
            <td style="@Model.get_styles(0, 4)"><input class="@Model.add_class(0, 4)" type="submit" asp-page-handler="Popup" asp-route-spacex="0" asp-route-spacey="4" value="@Model.board.get_nonet_value(0, 4)" /></td>
            <td style="@Model.get_styles(0, 5)"><input class="@Model.add_class(0, 5)" type="submit" asp-page-handler="Popup" asp-route-spacex="0" asp-route-spacey="5" value="@Model.board.get_nonet_value(0, 5)" /></td>
            <td style="@Model.get_styles(0, 6)"><input class="@Model.add_class(0, 6)" type="submit" asp-page-handler="Popup" asp-route-spacex="0" asp-route-spacey="6" value="@Model.board.get_nonet_value(0, 6)" /></td>
            <td style="@Model.get_styles(0, 7)"><input class="@Model.add_class(0, 7)" type="submit" asp-page-handler="Popup" asp-route-spacex="0" asp-route-spacey="7" value="@Model.board.get_nonet_value(0, 7)" /></td>
            <td style="@Model.get_styles(0, 8)"><input class="@Model.add_class(0, 8)" type="submit" asp-page-handler="Popup" asp-route-spacex="0" asp-route-spacey="8" value="@Model.board.get_nonet_value(0, 8)" /></td>
        </tr>
        <tr id="row2">
            <td style="@Model.get_styles(1, 0)"><input class="@Model.add_class(1, 0)" type="submit" asp-page-handler="Popup" asp-route-spacex="1" asp-route-spacey="0" value="@Model.board.get_nonet_value(1, 0)" /></td>
            <td style="@Model.get_styles(1, 1)"><input class="@Model.add_class(1, 1)" type="submit" asp-page-handler="Popup" asp-route-spacex="1" asp-route-spacey="1" value="@Model.board.get_nonet_value(1, 1)" /></td>
            <td style="@Model.get_styles(1, 2)"><input class="@Model.add_class(1, 2)" type="submit" asp-page-handler="Popup" asp-route-spacex="1" asp-route-spacey="2" value="@Model.board.get_nonet_value(1, 2)" /></td>
            <td style="@Model.get_styles(1, 3)"><input class="@Model.add_class(1, 3)" type="submit" asp-page-handler="Popup" asp-route-spacex="1" asp-route-spacey="3" value="@Model.board.get_nonet_value(1, 3)" /></td>
            <td style="@Model.get_styles(1, 4)"><input class="@Model.add_class(1, 4)" type="submit" asp-page-handler="Popup" asp-route-spacex="1" asp-route-spacey="4" value="@Model.board.get_nonet_value(1, 4)" /></td>
            <td style="@Model.get_styles(1, 5)"><input class="@Model.add_class(1, 5)" type="submit" asp-page-handler="Popup" asp-route-spacex="1" asp-route-spacey="5" value="@Model.board.get_nonet_value(1, 5)" /></td>
            <td style="@Model.get_styles(1, 6)"><input class="@Model.add_class(1, 6)" type="submit" asp-page-handler="Popup" asp-route-spacex="1" asp-route-spacey="6" value="@Model.board.get_nonet_value(1, 6)" /></td>
            <td style="@Model.get_styles(1, 7)"><input class="@Model.add_class(1, 7)" type="submit" asp-page-handler="Popup" asp-route-spacex="1" asp-route-spacey="7" value="@Model.board.get_nonet_value(1, 7)" /></td>
            <td style="@Model.get_styles(1, 8)"><input class="@Model.add_class(1, 8)" type="submit" asp-page-handler="Popup" asp-route-spacex="1" asp-route-spacey="8" value="@Model.board.get_nonet_value(1, 8)" /></td>
        </tr>
        <tr id="row3">
            <td style="@Model.get_styles(2, 0)"><input class="@Model.add_class(2, 0)" type="submit" asp-page-handler="Popup" asp-route-spacex="2" asp-route-spacey="0" value="@Model.board.get_nonet_value(2, 0)" /></td>
            <td style="@Model.get_styles(2, 1)"><input class="@Model.add_class(2, 1)" type="submit" asp-page-handler="Popup" asp-route-spacex="2" asp-route-spacey="1" value="@Model.board.get_nonet_value(2, 1)" /></td>
            <td style="@Model.get_styles(2, 2)"><input class="@Model.add_class(2, 2)" type="submit" asp-page-handler="Popup" asp-route-spacex="2" asp-route-spacey="2" value="@Model.board.get_nonet_value(2, 2)" /></td>
            <td style="@Model.get_styles(2, 3)"><input class="@Model.add_class(2, 3)" type="submit" asp-page-handler="Popup" asp-route-spacex="2" asp-route-spacey="3" value="@Model.board.get_nonet_value(2, 3)" /></td>
            <td style="@Model.get_styles(2, 4)"><input class="@Model.add_class(2, 4)" type="submit" asp-page-handler="Popup" asp-route-spacex="2" asp-route-spacey="4" value="@Model.board.get_nonet_value(2, 4)" /></td>
            <td style="@Model.get_styles(2, 5)"><input class="@Model.add_class(2, 5)" type="submit" asp-page-handler="Popup" asp-route-spacex="2" asp-route-spacey="5" value="@Model.board.get_nonet_value(2, 5)" /></td>
            <td style="@Model.get_styles(2, 6)"><input class="@Model.add_class(2, 6)" type="submit" asp-page-handler="Popup" asp-route-spacex="2" asp-route-spacey="6" value="@Model.board.get_nonet_value(2, 6)" /></td>
            <td style="@Model.get_styles(2, 7)"><input class="@Model.add_class(2, 7)" type="submit" asp-page-handler="Popup" asp-route-spacex="2" asp-route-spacey="7" value="@Model.board.get_nonet_value(2, 7)" /></td>
            <td style="@Model.get_styles(2, 8)"><input class="@Model.add_class(2, 8)" type="submit" asp-page-handler="Popup" asp-route-spacex="2" asp-route-spacey="8" value="@Model.board.get_nonet_value(2, 8)" /></td>
        </tr>
        <tr id="row4">
            <td style="@Model.get_styles(3, 0)"><input class="@Model.add_class(3, 0)" type="submit" asp-page-handler="Popup" asp-route-spacex="3" asp-route-spacey="0" value="@Model.board.get_nonet_value(3, 0)" /></td>
            <td style="@Model.get_styles(3, 1)"><input class="@Model.add_class(3, 1)" type="submit" asp-page-handler="Popup" asp-route-spacex="3" asp-route-spacey="1" value="@Model.board.get_nonet_value(3, 1)" /></td>
            <td style="@Model.get_styles(3, 2)"><input class="@Model.add_class(3, 2)" type="submit" asp-page-handler="Popup" asp-route-spacex="3" asp-route-spacey="2" value="@Model.board.get_nonet_value(3, 2)" /></td>
            <td style="@Model.get_styles(3, 3)"><input class="@Model.add_class(3, 3)" type="submit" asp-page-handler="Popup" asp-route-spacex="3" asp-route-spacey="3" value="@Model.board.get_nonet_value(3, 3)" /></td>
            <td style="@Model.get_styles(3, 4)"><input class="@Model.add_class(3, 4)" type="submit" asp-page-handler="Popup" asp-route-spacex="3" asp-route-spacey="4" value="@Model.board.get_nonet_value(3, 4)" /></td>
            <td style="@Model.get_styles(3, 5)"><input class="@Model.add_class(3, 5)" type="submit" asp-page-handler="Popup" asp-route-spacex="3" asp-route-spacey="5" value="@Model.board.get_nonet_value(3, 5)" /></td>
            <td style="@Model.get_styles(3, 6)"><input class="@Model.add_class(3, 6)" type="submit" asp-page-handler="Popup" asp-route-spacex="3" asp-route-spacey="6" value="@Model.board.get_nonet_value(3, 6)" /></td>
            <td style="@Model.get_styles(3, 7)"><input class="@Model.add_class(3, 7)" type="submit" asp-page-handler="Popup" asp-route-spacex="3" asp-route-spacey="7" value="@Model.board.get_nonet_value(3, 7)" /></td>
            <td style="@Model.get_styles(3, 8)"><input class="@Model.add_class(3, 8)" type="submit" asp-page-handler="Popup" asp-route-spacex="3" asp-route-spacey="8" value="@Model.board.get_nonet_value(3, 8)" /></td>
        </tr>
        <tr id="row5">
            <td style="@Model.get_styles(4, 0)"><input class="@Model.add_class(4, 0)" type="submit" asp-page-handler="Popup" asp-route-spacex="4" asp-route-spacey="0" value="@Model.board.get_nonet_value(4, 0)" /></td>
            <td style="@Model.get_styles(4, 1)"><input class="@Model.add_class(4, 1)" type="submit" asp-page-handler="Popup" asp-route-spacex="4" asp-route-spacey="1" value="@Model.board.get_nonet_value(4, 1)" /></td>
            <td style="@Model.get_styles(4, 2)"><input class="@Model.add_class(4, 2)" type="submit" asp-page-handler="Popup" asp-route-spacex="4" asp-route-spacey="2" value="@Model.board.get_nonet_value(4, 2)" /></td>
            <td style="@Model.get_styles(4, 3)"><input class="@Model.add_class(4, 3)" type="submit" asp-page-handler="Popup" asp-route-spacex="4" asp-route-spacey="3" value="@Model.board.get_nonet_value(4, 3)" /></td>
            <td style="@Model.get_styles(4, 4)"><input class="@Model.add_class(4, 4)" type="submit" asp-page-handler="Popup" asp-route-spacex="4" asp-route-spacey="4" value="@Model.board.get_nonet_value(4, 4)" /></td>
            <td style="@Model.get_styles(4, 5)"><input class="@Model.add_class(4, 5)" type="submit" asp-page-handler="Popup" asp-route-spacex="4" asp-route-spacey="5" value="@Model.board.get_nonet_value(4, 5)" /></td>
            <td style="@Model.get_styles(4, 6)"><input class="@Model.add_class(4, 6)" type="submit" asp-page-handler="Popup" asp-route-spacex="4" asp-route-spacey="6" value="@Model.board.get_nonet_value(4, 6)" /></td>
            <td style="@Model.get_styles(4, 7)"><input class="@Model.add_class(4, 7)" type="submit" asp-page-handler="Popup" asp-route-spacex="4" asp-route-spacey="7" value="@Model.board.get_nonet_value(4, 7)" /></td>
            <td style="@Model.get_styles(4, 8)"><input class="@Model.add_class(4, 8)" type="submit" asp-page-handler="Popup" asp-route-spacex="4" asp-route-spacey="8" value="@Model.board.get_nonet_value(4, 8)" /></td>
        </tr>
        <tr id="row6">
            <td style="@Model.get_styles(5, 0)"><input class="@Model.add_class(5, 0)" type="submit" asp-page-handler="Popup" asp-route-spacex="5" asp-route-spacey="0" value="@Model.board.get_nonet_value(5, 0)" /></td>
            <td style="@Model.get_styles(5, 1)"><input class="@Model.add_class(5, 1)" type="submit" asp-page-handler="Popup" asp-route-spacex="5" asp-route-spacey="1" value="@Model.board.get_nonet_value(5, 1)" /></td>
            <td style="@Model.get_styles(5, 2)"><input class="@Model.add_class(5, 2)" type="submit" asp-page-handler="Popup" asp-route-spacex="5" asp-route-spacey="2" value="@Model.board.get_nonet_value(5, 2)" /></td>
            <td style="@Model.get_styles(5, 3)"><input class="@Model.add_class(5, 3)" type="submit" asp-page-handler="Popup" asp-route-spacex="5" asp-route-spacey="3" value="@Model.board.get_nonet_value(5, 3)" /></td>
            <td style="@Model.get_styles(5, 4)"><input class="@Model.add_class(5, 4)" type="submit" asp-page-handler="Popup" asp-route-spacex="5" asp-route-spacey="4" value="@Model.board.get_nonet_value(5, 4)" /></td>
            <td style="@Model.get_styles(5, 5)"><input class="@Model.add_class(5, 5)" type="submit" asp-page-handler="Popup" asp-route-spacex="5" asp-route-spacey="5" value="@Model.board.get_nonet_value(5, 5)" /></td>
            <td style="@Model.get_styles(5, 6)"><input class="@Model.add_class(5, 6)" type="submit" asp-page-handler="Popup" asp-route-spacex="5" asp-route-spacey="6" value="@Model.board.get_nonet_value(5, 6)" /></td>
            <td style="@Model.get_styles(5, 7)"><input class="@Model.add_class(5, 7)" type="submit" asp-page-handler="Popup" asp-route-spacex="5" asp-route-spacey="7" value="@Model.board.get_nonet_value(5, 7)" /></td>
            <td style="@Model.get_styles(5, 8)"><input class="@Model.add_class(5, 8)" type="submit" asp-page-handler="Popup" asp-route-spacex="5" asp-route-spacey="8" value="@Model.board.get_nonet_value(5, 8)" /></td>
        </tr>
        <tr id="row7">
            <td style="@Model.get_styles(6, 0)"><input class="@Model.add_class(6, 0)" type="submit" asp-page-handler="Popup" asp-route-spacex="6" asp-route-spacey="0" value="@Model.board.get_nonet_value(6, 0)" /></td>
            <td style="@Model.get_styles(6, 1)"><input class="@Model.add_class(6, 1)" type="submit" asp-page-handler="Popup" asp-route-spacex="6" asp-route-spacey="1" value="@Model.board.get_nonet_value(6, 1)" /></td>
            <td style="@Model.get_styles(6, 2)"><input class="@Model.add_class(6, 2)" type="submit" asp-page-handler="Popup" asp-route-spacex="6" asp-route-spacey="2" value="@Model.board.get_nonet_value(6, 2)" /></td>
            <td style="@Model.get_styles(6, 3)"><input class="@Model.add_class(6, 3)" type="submit" asp-page-handler="Popup" asp-route-spacex="6" asp-route-spacey="3" value="@Model.board.get_nonet_value(6, 3)" /></td>
            <td style="@Model.get_styles(6, 4)"><input class="@Model.add_class(6, 4)" type="submit" asp-page-handler="Popup" asp-route-spacex="6" asp-route-spacey="4" value="@Model.board.get_nonet_value(6, 4)" /></td>
            <td style="@Model.get_styles(6, 5)"><input class="@Model.add_class(6, 5)" type="submit" asp-page-handler="Popup" asp-route-spacex="6" asp-route-spacey="5" value="@Model.board.get_nonet_value(6, 5)" /></td>
            <td style="@Model.get_styles(6, 6)"><input class="@Model.add_class(6, 6)" type="submit" asp-page-handler="Popup" asp-route-spacex="6" asp-route-spacey="6" value="@Model.board.get_nonet_value(6, 6)" /></td>
            <td style="@Model.get_styles(6, 7)"><input class="@Model.add_class(6, 7)" type="submit" asp-page-handler="Popup" asp-route-spacex="6" asp-route-spacey="7" value="@Model.board.get_nonet_value(6, 7)" /></td>
            <td style="@Model.get_styles(6, 8)"><input class="@Model.add_class(6, 8)" type="submit" asp-page-handler="Popup" asp-route-spacex="6" asp-route-spacey="8" value="@Model.board.get_nonet_value(6, 8)" /></td>
        </tr>
        <tr id="row8">
            <td style="@Model.get_styles(7, 0)"><input class="@Model.add_class(7, 0)" type="submit" asp-page-handler="Popup" asp-route-spacex="7" asp-route-spacey="0" value="@Model.board.get_nonet_value(7, 0)" /></td>
            <td style="@Model.get_styles(7, 1)"><input class="@Model.add_class(7, 1)" type="submit" asp-page-handler="Popup" asp-route-spacex="7" asp-route-spacey="1" value="@Model.board.get_nonet_value(7, 1)" /></td>
            <td style="@Model.get_styles(7, 2)"><input class="@Model.add_class(7, 2)" type="submit" asp-page-handler="Popup" asp-route-spacex="7" asp-route-spacey="2" value="@Model.board.get_nonet_value(7, 2)" /></td>
            <td style="@Model.get_styles(7, 3)"><input class="@Model.add_class(7, 3)" type="submit" asp-page-handler="Popup" asp-route-spacex="7" asp-route-spacey="3" value="@Model.board.get_nonet_value(7, 3)" /></td>
            <td style="@Model.get_styles(7, 4)"><input class="@Model.add_class(7, 4)" type="submit" asp-page-handler="Popup" asp-route-spacex="7" asp-route-spacey="4" value="@Model.board.get_nonet_value(7, 4)" /></td>
            <td style="@Model.get_styles(7, 5)"><input class="@Model.add_class(7, 5)" type="submit" asp-page-handler="Popup" asp-route-spacex="7" asp-route-spacey="5" value="@Model.board.get_nonet_value(7, 5)" /></td>
            <td style="@Model.get_styles(7, 6)"><input class="@Model.add_class(7, 6)" type="submit" asp-page-handler="Popup" asp-route-spacex="7" asp-route-spacey="6" value="@Model.board.get_nonet_value(7, 6)" /></td>
            <td style="@Model.get_styles(7, 7)"><input class="@Model.add_class(7, 7)" type="submit" asp-page-handler="Popup" asp-route-spacex="7" asp-route-spacey="7" value="@Model.board.get_nonet_value(7, 7)" /></td>
            <td style="@Model.get_styles(7, 8)"><input class="@Model.add_class(7, 8)" type="submit" asp-page-handler="Popup" asp-route-spacex="7" asp-route-spacey="8" value="@Model.board.get_nonet_value(7, 8)" /></td>
        </tr>
        <tr id="row9">
            <td style="@Model.get_styles(8, 0)"><input class="@Model.add_class(8, 0)" type="submit" asp-page-handler="Popup" asp-route-spacex="8" asp-route-spacey="0" value="@Model.board.get_nonet_value(8, 0)" /></td>
            <td style="@Model.get_styles(8, 1)"><input class="@Model.add_class(8, 1)" type="submit" asp-page-handler="Popup" asp-route-spacex="8" asp-route-spacey="1" value="@Model.board.get_nonet_value(8, 1)" /></td>
            <td style="@Model.get_styles(8, 2)"><input class="@Model.add_class(8, 2)" type="submit" asp-page-handler="Popup" asp-route-spacex="8" asp-route-spacey="2" value="@Model.board.get_nonet_value(8, 2)" /></td>
            <td style="@Model.get_styles(8, 3)"><input class="@Model.add_class(8, 3)" type="submit" asp-page-handler="Popup" asp-route-spacex="8" asp-route-spacey="3" value="@Model.board.get_nonet_value(8, 3)" /></td>
            <td style="@Model.get_styles(8, 4)"><input class="@Model.add_class(8, 4)" type="submit" asp-page-handler="Popup" asp-route-spacex="8" asp-route-spacey="4" value="@Model.board.get_nonet_value(8, 4)" /></td>
            <td style="@Model.get_styles(8, 5)"><input class="@Model.add_class(8, 5)" type="submit" asp-page-handler="Popup" asp-route-spacex="8" asp-route-spacey="5" value="@Model.board.get_nonet_value(8, 5)" /></td>
            <td style="@Model.get_styles(8, 6)"><input class="@Model.add_class(8, 6)" type="submit" asp-page-handler="Popup" asp-route-spacex="8" asp-route-spacey="6" value="@Model.board.get_nonet_value(8, 6)" /></td>
            <td style="@Model.get_styles(8, 7)"><input class="@Model.add_class(8, 7)" type="submit" asp-page-handler="Popup" asp-route-spacex="8" asp-route-spacey="7" value="@Model.board.get_nonet_value(8, 7)" /></td>
            <td style="@Model.get_styles(8, 8)"><input class="@Model.add_class(8, 8)" type="submit" asp-page-handler="Popup" asp-route-spacex="8" asp-route-spacey="8" value="@Model.board.get_nonet_value(8, 8)" /></td>
        </tr>

    </table>
</form>
